{
  "schemaVersion": 2,
  "developmentOnly": true,
  "valheimInstall": "/mnt/c/Program Files (x86)/Steam/steamapps/common/Valheim",
  "clientPluginDir": "/mnt/c/Program Files (x86)/Steam/steamapps/common/Valheim/BepInEx/plugins/{{ROOT_NAMESPACE}}",
  "server": {
    "deployment": {
      "type": "local",
      "pluginDir": "/home/YOUR_USER/valheim-dev/plugins/{{ROOT_NAMESPACE}}"
    },
    "lifecycle": {
      "type": "none"
    }
  },
  "solution": "{{ROOT_NAMESPACE}}.sln",
  "configuration": "Debug"
}
