{
  "schemaVersion": 1,
  "developmentOnly": true,
  "valheimInstall": "/mnt/c/Program Files (x86)/Steam/steamapps/common/Valheim",
  "clientPluginDir": "/mnt/c/Program Files (x86)/Steam/steamapps/common/Valheim/BepInEx/plugins/{{ROOT_NAMESPACE}}",
  "serverPluginDir": "/home/YOUR_USER/valheim-dev/plugins/{{ROOT_NAMESPACE}}",
  "dockerComposeFile": "/home/YOUR_USER/valheim-dev/compose.yaml",
  "dockerService": "valheim-server",
  "serverLogFile": null,
  "solution": "{{ROOT_NAMESPACE}}.sln",
  "configuration": "Debug"
}
